<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" routerLink="">{{ companyName }}</a>
    <form class="form-inline">
        <div class="input-group mb-3">
            <input
                #searchInput
                (keydown.enter)="search(); $event.preventDefault()"
                class="form-control"
                placeholder="Suchen"
            />
            <div class="input-group-append">
                <button
                    (click)="search()"
                    class="btn btn-outline-success sm-0 mdi mdi-magnify"
                    type="button"
                >
                    Suchen
                </button>
            </div>
        </div>
    </form>
</nav>
<br />

<div class="container">
    <router-outlet> </router-outlet>
</div>
