<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" routerLink="">{{ companyName }}</a>
    <form class="form-inline">
        <div class="input-group mb-3">
            <input class="form-control" type="search" placeholder="Suchen" />
            <div class="input-group-append">
                <button class="btn btn-outline-success sm-0 mdi mdi-magnify">
                    Suchen
                </button>
            </div>
        </div>
    </form>
</nav>
<br />

<div class="container">
    <router-outlet> </router-outlet>
</div>
